<%- include('../layout/header.ejs'); %>

<script>
   
</script>

<main class="container-fluid">
    <div class="row row-cols-1 row-cols-lg-4 g-2 g-lg-3 text-center p-3">
        <div class="col">
            <div class="card h-100">
                <div class="card-header fw-bolder">
                    Line Message API
                </div>
                <div class="card-body">
                    <h5 class="card-title">บริการเชื่อมต่อ</h5>
                    <p class="card-text">บริการเชื่อมต่อส่ง Line Message API สำหรับลูกค้าที่ซื้อบริการกับทาง Bigwork เท่านั้น</p>
                </div>
                <div class="card-footer">
                    <a href="/line-message-api/line_channel" class="btn btn-primary">Get started</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-header fw-bolder">
                    Mailer
                </div>
                <div class="card-body">
                    <h5 class="card-title">บริการเชื่อมต่อ</h5>
                    <p class="card-text">บริการเชื่อมต่อส่งอีเมลเช่น Outlook, Gmail เป็นต้น</p>
                </div>
                <div class="card-footer">
                    <a href="/" class="btn btn-primary">Get started</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-header fw-bolder">
                    WECOMMERCE
                </div>
                <div class="card-body">
                    <h5 class="card-title">บริการเชื่อมต่อ</h5>
                    <p class="card-text">บริการเชื่อมต่อส่งกับทางร้านค้าออนไลน์เช่น Lazada, Shopee, Nocnoc เป็นต้น</p>
                </div>
                <div class="card-footer">
                    <a href="/" class="btn btn-primary">Get started</a>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include('../layout/footer.ejs'); %>