<div class="main">
    <div class="sidebar shadow">
        <div class="menu-btn">
            <i class='bx bx-chevron-left bx-sm'></i>
        </div>
        <div class="head">
            <div class="user-img">
                <img src="/images/LOGO-Bigwork.png"/>
            </div>
            <div class="user-details">
                <p class="title">Assist Manager</p>
                <p class="name">Mr.Techakorn Klahan</p>
            </div>
        </div>
        <div class="menu">
            <p class="title">Main</p>
            <ul>
                <li>
                    <a href="/dashboard">
                        <i class='bx bx-home-alt bx-sm'></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-bell bx-sm'></i>
                        <span class="text">Line Message API</span>
                        <i class='arrow bx bx-chevron-down bx-sm'></i>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="/line-message-api/line_channel">
                                <span class="text">Line Channels</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- <li>
                    <a href="#">
                        <i class="icon ph-bold ph-file-text"></i>
                        <span class="text">Posts</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon ph-bold ph-calendar-blank"></i>
                        <span class="text">Schedules</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon ph-bold ph-chart-bar"></i>
                        <span class="text">Income</span>
                        <i class='arrow bx bx-chevron-down bx-sm'></i>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="#">
                                <span class="text">Earnings</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="text">Funds</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="text">Declines</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="text">Payouts</span>
                            </a>
                        </li>
                    </ul>
                </li> -->
            </ul>
        </div>
        <div class="menu">
            <p class="title">Settings</p>
            <ul>
                <li>
                    <a href="#">
                        <i class="icon ph-bold ph-gear"></i>
                        <span class="text">Settings</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="menu">
            <p class="title">Account</p>
            <ul>
                <li>
                    <a href="#">
                        <i class="icon ph-bold ph-info"></i>
                        <span class="text">Help</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon ph-bold ph-sign-out"></i>
                        <span class="text">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="credits p-5 bg-body-tertiary">
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <i class='bx bx-extension'></i>
                <strong class="me-auto"><%= process.env.NODE_ENV %></strong>
                <small>11 mins ago</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Hello, world! This is a toast message.
            </div>
        </div>
        
        